GITHUB_TOKEN =your-key

# 1. Create Upstash Vector index
UPSTASH_VECTOR_REST_URL=https://your-index.upstash.io
UPSTASH_VECTOR_REST_TOKEN=your-token


# 1. Create Gemeini API
GEMINI_API_KEY=your-key
GROK_API_KEY=your-key
